streamlit
numpy
pandas
sklearn
langchain
openai
tiktoken
python-dotenv
langchain_core
langchain_google_genai
pip install --upgrade pip
setuptools
distutils
unstructured
tabulate
pdf2image
pytesseract
