streamlit
numpy
pandas
scikit-learn
langchain
openai
tiktoken
python-dotenv
langchain_core
langchain_google_genai
pip==24.0
setuptools
distutils
unstructured
tabulate
pdf2image
pytesseract
